/**
 * Automatically change background based on nth-child of <main> element.
 */

// Landing pages
main > div > div {
  &:nth-child(odd) > .background-auto {
    background-color: $color_very_light_granite;
  }

  &:nth-child(even) > .background-auto {
    background-color: $color_white;
  }
}

// Page content blocks (e.g. standard article)
.background-auto-wrapper {
  .background-auto:nth-child(odd) {
    background-color: $color_very_light_granite;
  }

  .background-auto:nth-child(even) {
    background-color: $color_white;
  }
}
