::selection {
  background-color: $color_skye_blue;
  color: white;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// Create font-size classes from map (.font-size-sm, .font-size-lg etc)
@each $name, $value in $font-sizes {
  .font-size-#{$name} {
    font-size: $value;
  }
}
