@import "./docs.tokens.scss";

*[class^="rsg--preview"] {
  .style-cols {
    .col {
      background: #ccc;
      border: 1px solid white;
      padding: 1rem 2rem;
      text-align: center;
    }
  }
}

*[class^="rsg--root"].vds-example {
  position: relative;

  &.vds-example-full-screen {
    position: absolute;
    left: 0;
    z-index: 101;
    top: 0;
    width: 100%;
    background: white;
  }

  .vds-example-toggle {
    z-index: 102;
    position: absolute;
    top: 26px;
    right: 10px;
    border: none;
    background: $docs-color-rich-black;
    color: $docs-color-cloud;

    &:hover {
      background: $docs-color-oxford-blue;
    }
  }
}
