@import "./docs.tokens.scss";

*[class*="rsg--preview"] {
  .style-cols {
    .col,
    *[class*="col-"] {
      background: #ccc;
      border: 1px solid white;
      padding: 1rem 2rem;
      text-align: center;
    }
  }
}

*[class^="rsg--root"].vds-example {
  position: relative;

  &.vds-example-full-screen {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 101;
    width: 100%;
    background: white;

    *[class^="rsg--preview"] {
      padding: 0;
      border: none;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .vds-example-toggle {
    z-index: 102;
    position: absolute;
    top: 26px;
    right: 10px;
    border: none;
    background: $docs-color-rich-black;
    color: $docs-color-cloud;

    &:hover {
      background: $docs-color-oxford-blue;
    }
  }
}
