/**
 * These are style overrides for Vue Styleguidist
 * (the odd formatting hence most of the classes are dynamic)
 */

@import './docs.tokens.scss';
@import './docs.mixins.scss';
@import './docs.functions.scss';
@import './examples.styles.scss';
@import './demos.styles.scss';

/* LOCAL DESIGN TOKENS
 --------------------------------------------- */

$docs-color-text: shade($docs-color-silver, 70%);
$docs-color-blue-dark: shade($docs-color-blue, 30%);
$docs-color-blue-light: tint($docs-color-blue, 30%);
$docs-color-purple-dark: shade($docs-color-purple, 30%);
$docs-color-purple-light: tint($docs-color-purple, 30%);
$docs-color-purple-lighter: tint($docs-color-purple, 70%);

/* BASE
 --------------------------------------------- */
// Background of page
div.rsg--root-1 {
    background: $docs-color-white;
}

// Main content
main[class^='rsg--content'] {
    display: block; /* IE11 fix */
    padding: $space-s $space-m;
    
    @media (min-width: #{$docs-breakpoint-lg}) {
        padding: 0;
    }
}

div[class^='rsg--mainContent'] {
    min-height: calc(100vh - 50px);
}

// Display rsg--roots as flex
main section section > div > div[class^='rsg--root'] {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-xl;
    border-bottom: 1px solid $docs-color-grey;

    &:last-of-type{
        border-bottom: 0;
    }
}

/* TYPOGRAPHY
 --------------------------------------------- */

// Link color
div[class^='rsg--root'] a[class^='rsg--link'], a {
    color: $docs-color-pink;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:focus, &:focus-visible {
        outline-offset: 0;
        outline: 2px solid $docs-color-pink;
    }
}

// Main headings
// (includes h2 as well since in component views that’s the first heading) 
div[class^='rsg--wrapper'] > h1[class^='rsg--heading'],
div[class^='rsg--wrapper'] > h2[class^='rsg--heading'] {
    display: block;
    border: 0;
    line-height: $line-height-s;
    width: 100%;
    font-size: $size-xxxl;
    font-family: $font-heading;
    margin: 0 0 $space-xs;
    padding: 0;

    a{
        font-weight: $weight-normal;
        color: $docs-color-purple;
        letter-spacing: -1px;

        &:hover {
            text-decoration: none;
            cursor: default;
        }
    }

    @media (max-width: #{$docs-breakpoint}) {
        font-size: $size-xl / 1.2;
        width: calc(100% + #{$space-xl});
    }
}

div[class^='rsg--wrapper'] > h1[class^='rsg--heading']{
    &.section-h1{
        border-bottom: 1px solid $docs-color-grey;
    }
}

// Heading, level 2
h2[class^='rsg--heading'] {
    font-size: $size-xxl;
    line-height: $line-height-s;
    font-weight: $weight-semi-bold;
    letter-spacing: -0.5px;
    width: 100%;
    margin: $space-xl / 2 0 $space-s;

    @media (max-width: #{$docs-breakpoint}) {
        font-size: $size-xxl / 1.3;
    }

    @media (max-width: #{$docs-breakpoint-sm}) {
        font-size: $size-xxl / 1.6;
    }

    a {
        color: $docs-color-heading;
    }
}

// Heading, level 3
h3[class^='rsg--heading'],
h3[class^='rsg--heading'] a {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    margin: $space-base 0 $space-xs;
    font-size: 30px;
    font-weight: $weight-semi-bold;
    color: $docs-color-text;

    @media (max-width: #{$docs-breakpoint}) {
        font-size: $space-m;
    }
}

// Heading, level 4
h4[class^='rsg--heading'],
h4[class^='rsg--heading'] a {
    font-weight: $weight-semi-bold;
    letter-spacing: 0;
    margin: $space-base 0 $space-xs;
    font-size: $size-l;
    line-height: $line-height-s;
    color: $docs-color-heading;
}

// Heading, level 5
h5[class^='rsg--heading'],
h5[class^='rsg--heading'] a{
    font-size: $size-s;
    font-weight: $weight-semi-bold;
}


// Paragraphs
p[class^='rsg--para'] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $docs-color-grey-dark;
    margin-bottom: $space-s;
    line-height: $line-height-m;
    font-size: $size-base;

    strong a[class^='rsg--link'] {
        font-weight: $weight-semi-bold;
    }

    code {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
        background: tint(#F3FAFA, 75%);
        color: shade($docs-color-silver, 20%);
        padding: $space-xx-small;
        border-radius: $radius-default;
        font-size: 87.5%;
    }

    a {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

    pre + & {
        margin-top: $space-s;
    }

    img {
        max-width: 100%;
    }
}

article[class^='rsg--root']{
    div:first-of-type >
    p[class^='rsg--para'] {
        &:first-of-type{
            font-weight: 100;
        }
    }
}

div[class^='rsg--spacing']{
    margin: 0;
}



// Type layout adjustments
div[class^='rsg--docs'],
p[class^='rsg--para'],
h3[class^='rsg--heading'],
h4[class^='rsg--heading'] {
    width: 100%;

    @media (min-width: $docs-breakpoint-xl) {
        width: 80%;
    }
}

// Paragraphs inside table cells
td[class^='rsg--cell'] p {
    font-size: $size-m;
    width: 100%;
}

td[class^='rsg--cell'] span[class^='rsg--text']{
    font-size: $size-m;
    color: $docs-color-grey-dark;
}

/* HEADER BAR/NAV
 --------------------------------------------- */
div[class^=rsg--mainContent] > header[class^='rsg--header']{
    border-top: 10px solid $color-purple;
    padding: $space-m $space-m;
    margin-bottom: $space-base;

    @media (min-width: #{$docs-breakpoint}) {
        margin-bottom: 2rem;
    }

    @media (min-width: #{$docs-breakpoint-xl}) {
        padding: $space-m $space-xl;
    }

    div[class^='rsg--navBar'] {
        align-items: center;
        flex-direction: column;

        @media (min-width: #{$docs-breakpoint-xl}) {
            flex-direction: row;
        }
    }

    nav[class^='rsg--nav'] {
        @media (min-width: #{$docs-breakpoint-xl}) {
            margin-left: auto;
        }
    }

    div[class^='rsg--logo'] {
        padding: 0;
        border-bottom: 0;
        line-height: 0;
        margin-bottom: $space-base;

        @media (min-width: #{$docs-breakpoint-xl}) {
            margin-bottom: 0;
        }
    }

    li[class^='rsg--mainMenuListItem'] {
        margin: 0 $space-m;

        &:first-of-type{
            margin-left: 0;
        }

        &:last-of-type{
            margin-right: 0;
        }

        a[class^='rsg--headerLink'] {
            color: $docs-color-grey-dark;
            cursor: pointer;
            font-size: $font-size-lg;
    
            &:last-of-type{
                margin-right: 0;
            }
    
            &:hover, &:active {
                color: $docs-color-pink;
            }
        }
    }
    
    
}



/* SECTIONS
 --------------------------------------------- */
 div[class^='rsg--sections'] {
    width: 100%;
    order: 1;
    padding: 0;
    margin-bottom: $space-m;

    @media (min-width: #{$docs-breakpoint-lg}) {
        padding: 0 $space-m;
        width: 68%;
        order: 2;
    }

    @media (min-width: #{$docs-breakpoint-xl}) {
        padding-left: $space-l;
        padding-right: $space-xl;
        width: 65%;
    }

    @media (min-width: #{$docs-breakpoint-xxl}) {
        padding-left: $space-xl;
        width: 70%;
    }

    @media (min-width: #{$docs-breakpoint-xxxl}) {
        width: 60%;
    }
}



/* SIDEBAR
 --------------------------------------------- */

// Sets sidebar background
div[class^='rsg--sidebar'] {
    background: $docs-color-white;
    border: 0;
    order: 2;
    width: 100%;
    padding: 0;
    margin-bottom: $space-l;

    @media (min-width: #{$docs-breakpoint-lg}) {
        padding: $space-s $space-m $space-l;
        width: 32%;
        order: 1;
    }

    @media (min-width: #{$docs-breakpoint-xl}) {
        padding-left: $space-xl;
        padding-right: $space-l;
        width: 35%;
    }

    @media (min-width: #{$docs-breakpoint-xxl}) {
        padding-right: $space-xl;
        width: 30%;
    }

    @media (min-width: #{$docs-breakpoint-xxxl}) {
        width: 25%;
    }

    // Sidebar sub navigations
    ul ul[class^='rsg--list'] {
        display: none;
        &.vueds-visible {
            display: block;
        }
    }

    // Sidebar list item
    li[class^="rsg--item"] {
        margin: 0;
        display: block;
    }

    // Sidebar first level links
    a[class^='rsg--link'] {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: $space-xx-small $space-s;
        border: 2px solid $docs-color-white;
        font-weight: normal;
        color: $docs-color-grey-dark;
        display: block;
        font-size: $size-base;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;

        @media (min-width: #{$docs-breakpoint-xl}) {
            font-size: $size-l;
        }

        &:hover, &:active {
            color: $docs-color-pink;
        }

        &:focus{
            outline: 0;
            border: 2px solid $docs-color-pink;
        }
    }

    // Sidebar active link and ancestors
    li[class*='rsg--isSelected'],
    .vueds-active {
        & > ul[class^='rsg--list'] {
            display: block;
        }

        & > a,
        & > a:hover {
            color: $docs-color-pink;
        }
    }

    // Sidebar list
    ul[class^='rsg--list'] {
        padding-left: 0;

        // Sidebar sub-list
        ul{
            padding-left: $space-s;
            line-height: $line-height-s;

            // Sidebar second level link
            a[class*="rsg--link"] {
                font-size: $size-m;
                padding: 3px 16px;
                font-weight: $weight-normal;
                -webkit-font-smoothing: subpixel-antialiased;
                -moz-osx-font-smoothing: auto;

                @media (min-width: #{$docs-breakpoint-xl}) {
                    font-size: 18px;
                }
            }

            // Adding icon to items that are sections
            li[class^="rsg--item"] {        
                a[class^="rsg--link"]:after{
                    content: "\203A";
                    display: inline-block;
                    padding-left: 0.25rem;
                    font-size: 26px;
                    line-height: 0;
                    vertical-align: middle;
                    margin-top: -5px;
                }
            }

            li[class*=" vueds-active"]{
                > a[class^="rsg--link"]:after{
                    content: "\203A"!important;
                } 
            }
        
            li[class*=" rsg--isChild"]{
                a[class^="rsg--link"]:after{
                    display: none!important;
                }
            }
        }
    }
}


// Sidebar search
div[class^='rsg--search'] {
    padding: 0;
}

div[class^='rsg--search'] input {
    color: $docs-color-purple;
    border: 0;
    border-radius: $radius-l;
    background: $docs-color-light-blue;
    margin-bottom: $space-s;
    font-size: $size-base;
    padding: $space-xs $space-base;

    &:focus {
        border-color: $docs-color-pink;
        box-shadow: 0 0 0 2px $docs-color-pink;
        outline: 0;
    }

    &::placeholder {
        color: $docs-color-purple;
        font-size: $size-base;
    }
}


// Sidebar version
p[class^='rsg--version'] {
    @include inset-squish-space($space-xs);
    margin: $space-xs 0 0;
    color: $docs-color-purple-lighter;
    font-family: $font-text;
    font-weight: $weight-normal;
    display: inline-block;
    line-height: $line-height-xs;
    border: 1px solid $docs-color-purple-lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $size-xs;
    border-radius: $radius-default;
}


/* FOOTER
 --------------------------------------------- */
 footer[class^='rsg--footer'] {
    height: 50px;
    background-color: $docs-color-grey-dark;
    color: $docs-color-white;
    padding: $space-xs $space-s;

    p[class^='rsg--footerText']{
        text-align: center;
    }
    
}


/* Categories
 --------------------------------------------- */

// If you edit the component categories, you have to edit
// these to match as well.
div[data-preview='Elements'] ,
div[data-preview='Patterns'],
div[data-preview='Templates'] {
    background: transparent;
    box-shadow: none;
    padding: 0;
    border: 0;

    // This hides code previews from the above examples
    & + div + div[class^='rsg--tab'] {
        display: none !important;
    }
}

/* COMPONENT STATUS LABELS
 --------------------------------------------- */
// Here we’re setting a custom order for Styleguidist’s pieces
header[class^='rsg--header'] {
    margin-bottom: 0;
    order: 2;
}
div[class^='rsg--docs'],
article[class^='rsg--root'],
button[class^='rsg--button'] {
    order: 3;
}
div[class^='rsg--root'] div[class^='rsg--tabs'] {
    order: 4;
}

// Status label is shown in top right corner for each component
.status {
    font-family: $font-text;
    font-weight: $weight-normal;
    order: 1;
    align-self: flex-end;
    cursor: help;
    line-height: $line-height-xs;
    background: tint($docs-color-grey, 50%);
    padding: $space-xs $space-s $space-xs/1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $size-xs;
    border-radius: $radius-default;
    color: $docs-color-rich-black;
    position: absolute;
    right: $space-xl;
    top: $space-xl * 1.2;
    z-index: 2;
    @media (max-width: 1300px) {
        top: $space-xl;
    }
    @media (max-width: #{$docs-breakpoint}) {
        top: $space-l * 1.2;
        right: $space-m;
    }
    &-ready {
        background: $docs-status-ready;
        color: $docs-color-white;
    }
    &-review,
    &-under-review {
        background: $docs-color-gold;
        color: $docs-color-rich-black;
    }
    &-prototype {
        background: $docs-color-blue;
        color: $docs-color-white;
    }
    &-deprecated {
        background: $docs-color-vermilion;
        color: $docs-color-white;
    }
}

/* GLOBAL TABLES
 --------------------------------------------- */

// Global tr setting so that vueds custom components use this as well
table[class^='rsg--table'] {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: $space-l;

    @media (max-width: $docs-breakpoint-lg) {
        overflow-x: auto;
    }

    thead {
        th {
            padding: 14px $space-s;
            background: $docs-color-purple;
            font-size: $size-m;
            color: $docs-color-white;
            font-weight: $weight-semi-bold;
            text-align: left;
            line-height: 1;
            // Chrome has a bug related to thead, this only works on th:
            position: -webkit-sticky;
            position: sticky;
            top: -1px;

            &:first-child {
                border-top-left-radius: $radius-m;
            }

            &:last-child {
                border-top-right-radius: $radius-m;
            }
        }
    }

    tbody{
        td {
            font-size: $size-m;
            padding: $space-xs $space-s;

            &:first-child {
                white-space: nowrap;
            }

            &[class^='rsg--cell']:last-child{
                padding-right: 16px;
            }

            // Styles for tables added through CMS 
            // It automatically puts table content in paragraphs
            p[class^='rsg--para']{
                &:first-of-type{
                    font-weight: $weight-normal;
                    font-size: $size-base;
                }
            }
        }

        tr{
            &:nth-of-type(even){
                background: $docs-color-very-light-blue;
            }

            // Styles for tables added through CMS 
            // It does not add a thead row
            &:first-of-type{
                td{
                    p[class^='rsg--para']{
                        &:first-of-type{
                            font-weight: $weight-semi-bold;
                        }
                    }
                }
            }
        }
    }
}


/* CHILD COMPONENT LIST */
.child-component-list {
    margin: $space-xx-small 0 0;
    display: none;

    span {
        @extend .status;
        position: relative;
        font-size: 12px;
        right: auto;
        top: auto;
        cursor: pointer;
        color: $docs-color-white;
        background: $docs-color-purple;
        display: inline-block;
        margin: $space-xx-small 6px $space-xx-small 0;
        text-transform: initial;
    }
}

/* HIDDEN STYLEGUIDIST FUNCTIONALITY
 --------------------------------------------- */

div[class^='rsg--pathline'],
div[class^='rsg--toolbar'] {
    display: none !important;
}

/* HIDDEN FUNCTIONALITY
 --------------------------------------------- */

// Hide private components
.hide-private,
.hide-private + div,
a[href='#private-components'],
a[href='#private-components'] + ul {
    display: none !important;
}

// Hide Private components and placeholder sections
ul a[href*='/#/Getting%20Started/Components'],
ul a[href*='/#/Design%20Tokens/Color'],
ul a[href*='/#/Design%20Tokens/Spacing'],
ul a[href*='/#/Design%20Tokens/FontSize'],
ul a[href*='/#/Design%20Tokens/All'],
ul a[href*='/#/Private%20Components'],
ul a[href*='/#/Getting Started/Components'],
ul a[href*='/#/Design Tokens/Color'],
ul a[href*='/#/Design Tokens/Spacing'],
ul a[href*='/#/Design Tokens/FontSize'],
ul a[href*='/#/Design Tokens/All'],
ul a[href*='/#/Private Components'] {
    display: none !important;
}


/* SCREENSHOT MODE
/* While regression tests are running the screen needs to be set up in such
/* a way that the full screen component occupies the actual html scroll bar
 --------------------------------------------- */

.vds-screenshot-mode {
    .vds-example-full-screen {
        position: relative;
        overflow: hidden;
    }

    div[class^='rsg--sidebar'] {
        display: none;
    }

    main[class^='rsg--content'] {
        padding: 0;
    }

    div[class^='rsg--root'] {
        padding-left: 0;
    }

    div[class^='rsg--docs'] {
        display: none;
    }

    div[class^='rsg--tabs'] {
        display: none;
    }
}
