@import './docs.tokens.scss';

*[class*='rsg--preview'] {
    .style-cols {
        .col,
        *[class*='col-'] {
            background: #ccc;
            border: 1px solid white;
            padding: 1rem 2rem;
            text-align: center;
        }
    }
}

.vds-example {
    position: relative;

    &.vds-example-full-screen {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
        z-index: 101;
        width: 100%;
        background: white;

        *[class^='rsg--tabs'],
        *[class^='rsg--tab'],
        div[class^=rsg--controls],
        .vueds-tabs,
        .react-codemirror2 {
            display: none;
        }

        *[class^='rsg--preview'] {
            border: none;
            border-radius: 0;
            box-shadow: none;
            padding: 0;
            margin: 0;
        }

        .vds-example-toggle {
            top: 10px;
            right: 10px;
        }
    }

    .vds-example-toggle {
        z-index: 100;
        position: absolute;
        top: -48px;
        right: 0;
        border: none;
        background: $docs-color-pink;
        color: $docs-color-white;
        border-radius: $radius-l;
        padding: 4px 16px;
        font-size: $size-m;
        transition: background .2s;
        display: none;

        &:hover {
            background-color: darken($docs-color-pink, 10%);
        }

        &:focus, &:focus-within{
            box-shadow: 0 0 0 0.2rem #7edddc;
            outline: none;
        }
    }
}

// Only show example button on component pages
.section-components {
    .vds-example {
        .vds-example-toggle {
            display: block;
        }
    }
}
