
$tokens-map: (
  'color-purple': (rgb(112, 14, 87)),
  'color-gray': (rgb(132, 132, 132)),
  'color-pink': (rgb(175, 0, 110)),
  'color-yellow': (rgb(252, 202, 27)),
  'color-secondary-gray': (rgb(106, 99, 102)),
  'color-secondary-teal': (rgb(16, 157, 163)),
  'color-base-text': (rgb(25, 25, 25)),
  'color-error': (rgb(149, 165, 171)),
  'color-black': (rgb(0, 0, 0)),
  'color-white': (rgb(255, 255, 255)),
  'color-theme-primary': (rgb(175, 0, 110)),
  'color-theme-secondary': (rgb(106, 99, 102)),
  'color-theme-secondary-teal': (rgb(40, 199, 196)),
  'color-theme-secondary-indigo': (rgb(67, 47, 178)),
  'color-theme-secondary-orange': (rgb(253, 115, 57)),
  'color-theme-success': (rgb(30, 97, 1)),
  'color-theme-info': (rgb(46, 95, 149)),
  'color-theme-warning': (rgb(252, 202, 27)),
  'color-theme-danger': (rgb(174, 41, 64)),
  'color-theme-light': (rgb(239, 239, 239)),
  'color-theme-secondary-light': (rgb(102, 102, 102)),
  'color-theme-dark': (rgb(25, 25, 25)),
  'color-theme-primary-purple': (rgb(112, 14, 87)),
  'color-facebook': (rgb(24, 119, 242)),
  'color-twitter': (rgb(8, 160, 233)),
  'color-youtube': (rgb(230, 33, 23)),
  'color-instagram': (rgb(240, 0, 117)),
  'color-purple-tint-1': (rgb(133, 50, 112)),
  'color-purple-tint-2': (rgb(155, 86, 137)),
  'color-purple-tint-3': (rgb(176, 122, 163)),
  'color-purple-tint-4': (rgb(198, 159, 188)),
  'color-purple-tint-5': (rgb(219, 195, 213)),
  'color-purple-tint-6': (rgb(241, 231, 238)),
  'color-purple-shade-1': (rgb(95, 12, 74)),
  'color-purple-shade-2': (rgb(78, 10, 61)),
  'color-purple-shade-3': (rgb(62, 8, 48)),
  'color-purple-shade-4': (rgb(45, 6, 35)),
  'color-purple-shade-5': (rgb(28, 4, 22)),
  'color-purple-shade-6': (rgb(11, 1, 9)),
  'color-gray-tint-1': (rgb(147, 147, 147)),
  'color-gray-tint-2': (rgb(163, 163, 163)),
  'color-gray-tint-3': (rgb(178, 178, 178)),
  'color-gray-tint-4': (rgb(193, 193, 193)),
  'color-gray-tint-5': (rgb(208, 208, 208)),
  'color-gray-tint-6': (rgb(224, 224, 224)),
  'color-gray-tint-7': (rgb(239, 239, 239)),
  'color-gray-tint-8': (rgb(254, 254, 254)),
  'color-gray-shade-1': (rgb(117, 117, 117)),
  'color-gray-shade-2': (rgb(102, 102, 102)),
  'color-gray-shade-3': (rgb(86, 86, 86)),
  'color-gray-shade-4': (rgb(71, 71, 71)),
  'color-gray-shade-5': (rgb(56, 56, 56)),
  'color-gray-shade-6': (rgb(41, 41, 41)),
  'color-gray-shade-7': (rgb(25, 25, 25)),
  'color-gray-shade-8': (rgb(10, 10, 10)),
  'color-pink-tint-1': (rgb(187, 38, 132)),
  'color-pink-tint-2': (rgb(199, 77, 154)),
  'color-pink-tint-3': (rgb(211, 115, 175)),
  'color-pink-tint-4': (rgb(223, 153, 197)),
  'color-pink-tint-5': (rgb(235, 191, 219)),
  'color-pink-tint-6': (rgb(247, 230, 241)),
  'color-pink-shade-1': (rgb(149, 0, 94)),
  'color-pink-shade-2': (rgb(122, 0, 77)),
  'color-pink-shade-3': (rgb(96, 0, 61)),
  'color-pink-shade-4': (rgb(70, 0, 44)),
  'color-pink-shade-5': (rgb(44, 0, 28)),
  'color-pink-shade-6': (rgb(17, 0, 11)),
  'color-yellow-tint-1': (rgb(252, 210, 61)),
  'color-yellow-tint-2': (rgb(253, 218, 95)),
  'color-yellow-tint-3': (rgb(253, 226, 130)),
  'color-yellow-tint-4': (rgb(254, 234, 164)),
  'color-yellow-tint-5': (rgb(254, 242, 198)),
  'color-yellow-tint-6': (rgb(255, 250, 232)),
  'color-secondary-gray-tint-1': (rgb(128, 122, 125)),
  'color-secondary-gray-tint-2': (rgb(151, 146, 148)),
  'color-secondary-gray-tint-3': (rgb(173, 169, 171)),
  'color-secondary-gray-tint-4': (rgb(195, 193, 194)),
  'color-secondary-gray-tint-5': (rgb(218, 216, 217)),
  'color-secondary-gray-tint-6': (rgb(240, 239, 240)),
  'color-secondary-gray-shade-1': (rgb(90, 84, 87)),
  'color-secondary-gray-shade-2': (rgb(74, 69, 71)),
  'color-secondary-gray-shade-3': (rgb(58, 54, 56)),
  'color-secondary-gray-shade-4': (rgb(42, 40, 41)),
  'color-secondary-gray-shade-5': (rgb(27, 25, 26)),
  'color-secondary-gray-shade-6': (rgb(11, 10, 10)),
  'color-secondary-teal-tint-1': (rgb(0, 0, 0)),
  'color-secondary-teal-tint-2': (rgb(83, 210, 208)),
  'color-secondary-teal-tint-3': (rgb(126, 221, 220)),
  'color-secondary-teal-tint-4': (rgb(169, 233, 231)),
  'color-secondary-teal-tint-5': (rgb(212, 244, 243)),
  'color-secondary-teal-tint-6': (rgb(234, 249, 249)),
  'color-secondary-teal-shade-1': (rgb(36, 179, 176)),
  'color-secondary-teal-shade-2': (rgb(32, 159, 157)),
  'color-secondary-teal-shade-3': (rgb(24, 119, 118)),
  'color-secondary-teal-shade-4': (rgb(16, 80, 78)),
  'color-secondary-indigo-tint-1': (rgb(86, 68, 186)),
  'color-secondary-indigo-tint-2': (rgb(105, 89, 193)),
  'color-secondary-indigo-tint-3': (rgb(142, 130, 209)),
  'color-secondary-indigo-tint-4': (rgb(180, 172, 224)),
  'color-secondary-indigo-tint-5': (rgb(217, 213, 240)),
  'color-secondary-indigo-tint-6': (rgb(236, 234, 247)),
  'color-secondary-indigo-shade-1': (rgb(60, 42, 160)),
  'color-secondary-indigo-shade-2': (rgb(54, 38, 142)),
  'color-secondary-indigo-shade-3': (rgb(40, 28, 107)),
  'color-secondary-indigo-shade-4': (rgb(51, 23, 12)),
  'color-secondary-orange-tint-2': (rgb(254, 171, 136)),
  'color-secondary-orange-tint-3': (rgb(254, 199, 175)),
  'color-secondary-orange-tint-4': (rgb(253, 214, 195)),
  'color-secondary-orange-tint-5': (rgb(255, 227, 215)),
  'color-secondary-orange-tint-6': (rgb(255, 240, 235)),
  'color-secondary-orange-shade-1': (rgb(202, 92, 46)),
  'color-secondary-orange-shade-2': (rgb(152, 69, 34)),
  'color-secondary-orange-shade-3': (rgb(101, 46, 24)),
  'color-secondary-orange-shade-4': (rgb(51, 23, 12)),
  'font-size-base': (1rem),
  'font-size-xl': (1rem * 2),
  'font-size-lg': (1rem * 1.25),
  'font-size-md': (1rem * 1.125),
  'font-size-sm': (1rem * .75),
  'h1-font-size': (1rem * 1.5),
  'h1-font-size-md': (1rem * 1.875),
  'h2-font-size': (1rem * 1.25),
  'h2-font-size-md': (1rem * 1.5),
  'h3-font-size': (1rem * 1.125),
  'h3-font-size-md': (1rem * 1.25),
  'h4-font-size': (1rem * 1),
  'h4-font-size-md': (1rem * 0.875),
  'h5-font-size': (1rem * 1.25),
  'h5-font-size-md': (1rem * 1.375),
  'h6-font-size': (1rem * 1.125),
  'h6-font-size-md': (1rem * 1.25),
  'h3-sub-font-size': (1rem * 1),
  'h2-sub-font-size': (1rem * 1.5),
  'body-font-size': (1rem * 1),
  'body-font-size-md': (1rem * 1.125),
  'display1-size': (1rem * 1.875),
  'display2-size': (1rem * 1.5),
  'display3-size': (1rem * 1.375),
  'display4-size': (1rem * 1.125),
  'lead-font-size': (1rem * 1.125),
  'lead-font-size-md': (1rem * 1.25),
  'teaser-font-size': (1rem * 1),
  'small-font-size': (1rem * .875),
  'xs-font-size': (1rem * 0.625),
  'font-weight-bold': (700),
  'font-weight-semi-bold': (600),
  'font-weight-normal': (400),
  'font-weight-light': (300),
  'font-family-sans-serif': ('Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'),
  'headings-font-family': ('evelethclean-regular', sans-serif, $font-family-sans-serif),
  'headings-font-family-thin': ('evelethclean-thin', 'evelethclean-thin', sans-serif, $font-family-sans-serif),
  'icon-size-xxs': (12px),
  'icon-size-xs': (16px),
  'icon-size-sm': (20px),
  'icon-size-md': (24px),
  'icon-size-lg': (30px),
  'icon-size-xl': (40px),
  'opacity-100': (1),
  'opacity-50': (0.5),
  'opacity-0': (0),
  'duration-quickly': (.08s),
  'duration-base': (.2s),
  'duration-slowly': (.5s),
  'breakpoint-xl': (1200px),
  'breakpoint-md': (768px),
  'max-container-width-xl': (1140px),
  'breakpoint-sm': (576px),
  'breakpoint-lg': (992px),
  'breakpoint-xs': (0),
  'max-container-width-md': (720px),
  'max-container-width-sm': (540px),
  'max-container-width-lg': (960px),
  'max-container-width-xxl': (1340px),
  'breakpoint-xxl': (1400px),
  'shadow-s': (0 0 0 1px rgba(92,106,196,.1)),
  'shadow-card': (10px 10px 20px $color-gray-tint-4),
  'shadow-button-focus': (0 0 0 0.2rem $color-secondary-teal-tint-3),
  'letter-spacing-xxl': (2px),
  'letter-spacing-xl': (1.4px),
  'letter-spacing-l': (1px),
  'letter-spacing-m': (0.8px),
  'letter-spacing-s': (-0.5px),
  'letter-spacing-xs': (-1px),
  'border-radius-default': (0.25rem),
  'border-radius-lg': (0.3rem),
  'border-radius-sm': (0.2rem),
  'border-radius-pill': (50rem),
  'spacer-3': (1rem * .75),
  'spacer-4': (1rem),
  'spacer-5': (1rem * 1.25),
  'spacer-6': (1rem * 1.5),
  'spacer-7': (1rem * 1.75),
  'spacer-8': (1rem * 2),
  'spacer-9': (1rem * 3),
  'spacer-10': (1rem * 4),
  'spacer-11': (1rem * 5),
  'spacer-12': (1rem * 6),
  'spacer-0': (0),
  'spacer-1': (1rem * .25),
  'spacer-2': (1rem * .5),
  'line-height-lead': (1.55),
  'line-height-l': (1.8),
  'line-height-m': (1.6),
  'line-height-s': (1.3),
  'line-height-standard': (1.2),
  'line-height-xs': (1),
  'grid-columns': (12),
  'grid-gutter-width': (24px),
  'no-javascript': ("no-js"),
  'theme-dark': (rgb(42, 40, 41)),
  'theme-grey': (rgb(239, 239, 239)),
);
