.DS_Store
.eslintcache
*.log*
.nitro
.cache
node_modules/
.nuxt/
dist/
/test/unit/coverage/
/.tmp
.env
.lighthouseci
.history/
.npmrc

# Editor directories and files
.idea
.vscode
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore compiled tokens
src/assets/tokens/
.yarn/

build/

