.DS_Store
.eslintcache
node_modules/
dist/system/main.css
dist/system/build
dist/system/fixtures
dist/system/fonts
dist/system/images
dist/system/img
dist/system/svg
dist/system/tokens
dist/system/index.html
/test/unit/coverage/
/.tmp
*.log
.env
.lighthouseci
.history/
.npmrc

# Editor directories and files
.idea
.vscode
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore compiled tokens
src/assets/tokens/
.yarn/

build/
