%card-style-white {
  border: 1px solid #eee;
  box-shadow: 0 3px 7px rgba(black, 0.16);
  background: $color_white;
  color: $color_total_eclipse;
  user-select: none;
}

%card-style-gray {
  border: 1px solid darken(#eee, 3%);
  box-shadow: 0 3px 7px rgba(black, 0.16);
  background: $color_very_light_granite;
  user-select: none;
}
