%eveleth-thin {
    font-family: 'evelethclean-thin', sans-serif, $font-family-sans-serif;
    font-weight: normal;
    letter-spacing: -0.03em;
}

%eveleth-regular {
    font-family: 'evelethclean-regular', sans-serif, $font-family-sans-serif;
    font-weight: normal;
    letter-spacing: -0.03em;
}
