%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

%button-default-styles{
    font-family: $font-family-base;
    font-weight: $font-weight-semi-bold;
    transition: $transition-base;
    text-decoration: none;
    letter-spacing: $letter-spacing-m;
    position: relative;
    overflow: hidden;
    border-width: 2px;
    line-height: $line-height-standard;
}

%primary-button-focus {
    box-shadow: 0 0 0 4px $color-white, 0 0 0 8px $color-pink;
}