%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/**************
BUTTON STYLES
***************/

%button-default-styles {
    font-family: $font-family-base;
    font-weight: $font-weight-semi-bold;
    transition: $transition-base;
    text-decoration: none;
    letter-spacing: $letter-spacing-m;
    position: relative;
    overflow: hidden;
    border-width: 2px;
    line-height: $line-height-standard;
}

%primary-button-focus {
    box-shadow: 0 0 0 4px $color-white, 0 0 0 8px $color-pink;
}


/**************
LINK STYLES
***************/

%outline-link-focus {
    outline: 2px solid $color-pink;
}

%outline-link-focus-dark {
    outline: 2px solid $color-yellow;
}

/**************
HEADING STYLES
***************/

$font-sizes: (
    1: $font-size-h1,
    2: $font-size-h2,
    3: $font-size-h3,
    4: $font-size-h4,
    5: $font-size-h5,
    6: $font-size-h6,
);

$md-font-sizes: (
    1: $font-size-h1-md,
    2: $font-size-h2-md,
    3: $font-size-h3-md,
    4: $font-size-h4,
    5: $font-size-h5-md,
    6: $font-size-h6-md,
);

/* Update font sizes */
$sub-font-sizes: (
    2: $font-size-h2-sub,
    3: $font-size-h3-sub,
);

%heading-default-styles {
    font-family: $headings-font-family;

    @each $level, $size in $font-sizes {
        @at-root h#{$level}#{&},
        &.vs-heading--style-level-#{$level} {
            letter-spacing: $size * 0.1;
            margin-bottom: $size;
            margin-top: $size;
            font-size: $size;

            @include media-breakpoint-up(md) {
                letter-spacing: $size * 0.1;
                margin-bottom: $size;
                margin-top: $size;
                font-size: $size;
            }
        }

        @at-root h#{5}#{&}, h#{6}#{&},
        &.vs-heading--style-level-#{5},
        &.vs-heading--style-level-#{6}{
            font-family: $font-family-sans-serif;
            letter-spacing: normal;
            font-weight: $font-weight-bold;
        }

        &.vs-heading--thin {
            font-family: $headings-font-family-thin;
        }

        .vs-heading__sub-heading {
            font-family: $headings-font-family-thin;
            display: block;

            @each $level, $size in $sub-font-sizes {
                @at-root h#{$level}#{&} {
                    letter-spacing: $size * 0.1;
                    font-size: $size;
                    margin-top: $size * 0.5;
                }
            }
        }
    }

    &.vs-heading--alternative {
        font-family: $font_family_sans_serif;
        font-weight: $font-weight-light;
        letter-spacing: normal;
    }
}
