/* GLOBAL: INCLUDES
 *
 * It is recommended to only include variables,
 * mixins, etc. in this file, to prevent duplicated
 * CSS in your final, compiled files.
 */
 
/* Tokens */
@import "../assets/tokens/tokens";
@import "../assets/tokens/tokens.map";

@import "./functions";
@import "./bootstrap-overrides";

/* Bootstrap */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* Local */
@import "./placeholders";
@import "./mixins/focus";
@import "./mixins/no-js";
@import "./mixins/themed-text-editor";
@import "./mixins/truncate-text";
