%focus-white-inset {
  outline: none;
  box-shadow: inset 0 -3px 0 0 $white;
}

%focus-pink-inset {
  outline: none;
  box-shadow: inset 0 -3px 0 0 $color-pink;
}

%focus-pink {
  outline: none;
  box-shadow: 0 3px 0 0 $color-pink;
}

%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

%button-reset {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

%default-box-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

%default-inset-box-shadow {
  box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

%divide-left {
  box-shadow: -1px 0 0 0 $gray-tint-5;
}

%button-pink {
  background-color: $color-pink;
  color: $color-white;
  transition: background-color 250ms;

  &:focus {
    @extend %focus-white-inset;
  }
}

%main-nav-button-style {
  transition: all 250ms ease-in-out;
  height: 40px;
  width: 40px;

  @include media-breakpoint-up(md) {
    height: 50px;
    width: 50px;
  }
}

%uni-nav-button-style {
  align-items: center;
  background-color: $color-purple;
  box-shadow: inset 0 0 0 0 transparent;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  padding: 5px;
  position: relative;
  transition: all 250ms ease-in-out;
  z-index: 5;

  @include media-breakpoint-up(md) {
    padding: 10px;
  }

  &:focus {
    background-color: $color-pink;
    @extend %focus-white-inset;
  }

  &:hover {
    background-color: $color-pink;
    color: $color-white;
  }

  span {
    font-weight: 400;
    font-size: 0.75rem;
    display: block;
    color: $color-white;
  }
}
