%clip {
  clip: rect(0, 0, 0, 0);
}

%clip-reset {
  clip: none;
}

%focus-white {
  outline: none;
  box-shadow: inset 0 -3px 0 0 $white;
}

%focus-pink {
  outline: none;
  box-shadow: inset 0 -3px 0 0 $color-thistle-pink;
}

%list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

%button-reset {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

%button-pink {
  background-color: $color-thistle-pink;
  color: $color-white;
  transition: background-color 250ms;

  &:focus {
    @extend %focus-white;
  }

  &:hover {
    background-color: lighten($color-thistle-pink, 5%);
  }
}

%main-nav-button-style {
  padding: 8px 10px;
}

%uni-nav-button-style {
  align-items: center;
  background-color: $color-heather-purple;
  box-shadow: inset 0 0 0 0 transparent;
  color: #fff;
  display: flex;
  font-size: 0.75rem;
  padding: 5px;
  position: relative;
  transition: all 250ms ease-in-out;
  z-index: 5;

  &:focus {
    background-color: $color-thistle-pink;
    @extend %focus-white;
  }

  &:hover {
    background-color: $color-thistle-pink;
    color: #fff;
  }

  span {
    font-weight: 400;
    font-size: 0.75rem;
    display: block;
    color: #fff;
  }
}
