@import "mixins";

.vs-dropdown__list {
  background-color: $color-purple-shade-1;
  color: $color-white;
  left: 0;
  position: absolute;
  top: 28px;
  width: 100%;

  @include media-breakpoint-up(md) {
    top: 38px;
    height: auto;
    min-width: 130px;
    width: auto;
  }
}

.vs-dropdown__link {
  align-items: center;
  border-bottom: 1px solid $color-purple-tint-1;
  box-shadow: inset 0 0 0 0 transparent;
  color: $color-white;
  display: flex;
  font-size: 0.75rem;
  font-weight: $font-weight-light;
  padding: 0.75rem;
  position: relative;
  transition: all 250ms ease-in-out;
  width: 100%;

  &:focus {
    @include focus-box-inset($color-purple-tint-5, 2px);
  }

  &:hover {
    color: $color-white;
    background-color: $color-gray-shade-6;
  }
}

.vs-dropdown__external-icon-wrapper {
  display: flex;
  margin-left: 5px;
}

.vs-dropdown__button {
  @extend %button-reset;
  @extend %uni-nav-button-style;
}

.vs-dropdown__icon-wrapper {
  margin-left: 5px;
  transition: transform 250ms;

  .vs-dropdown__button[aria-expanded="true"] & {
    transform: rotate(180deg);
    transform-origin: 50% 54%;
  }
}
