<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/hippo-cms/css/hippo-cms-theme.min.css}">
</head>
<body>
    <div th:switch="${translationFlag}">
        <div th:case="true">
            <p>Translations pending.</p>
            <a class="btn btn-br-secondary"
               th:href="@{/vs-openui/diff/{nodeId}/view(nodeId=${nodeId})}"
               target="_blank">Open English difference</a>
        </div>

        <p th:case="false">No translations pending.</p>
    </div>
</body>
</html>