<html>
<head>
    <script type="text/javascript" src="https://unpkg.com/@bloomreach/ui-extension@14.2.1/dist/ui-extension.min.js"></script>
    <script type="text/javascript">
        var brDocument;

        document.addEventListener('DOMContentLoaded', async () => {
            try {
                const ui = await UiExtension.register();
                brDocument = await ui.document.get();
                const nodeId = brDocument.id;
                const value = await ui.document.field.getValue();
                const bodyUri = `./diff/${nodeId}`;

                const iFrame = document.querySelector('iframe');
                iFrame.setAttribute('src', bodyUri);

                uiExtension = ui;
            } catch (error) {
                console.error('Failed to register extension:', error.message);
                console.error('- error code:', error.code);
            }
        });

        function setupIFrame() {
            var frame = window.frames['diff-content'];
            frame.setBrDocument(brDocument);
        }

    </script>
    <style>
        html {
            height: 100%;
        }

        body {
            margin: 0px;
        }

        iframe {
            border: none;
            height:100%;
        }
    </style>
</head>
<body>
    <iframe name="diff-content"></iframe>
</body>
</html>