<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .DELETE {
            background-color: orangered;
        }

        .INSERT {
            background-color: greenyellow;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/skin/hippo-cms/css/hippo-cms-theme.min.css}">
</head>
<body>
    <div class="hippo-editor">
        <div class="hippo-editor-body">
            <div class="hippo-preview-document-wrapper">
                <div class="hippo-preview-document">
                    <div class="column-wrapper">
                        <div class="diffContent"
                            th:data-diff="${diffContent}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', async () => {
        var contentElement = document.querySelector('.diffContent')
        var diffData = contentElement.getAttribute('data-diff');
        contentElement.innerHTML = decodeURIComponent(diffData);
    });
</script>
</html>