.py-lg {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include media-breakpoint-up(xl) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.pt-lg {
    padding-top: 3rem;

    @include media-breakpoint-up(xl) {
        padding-top: 5rem;
    }
}

.pb-lg {
    padding-bottom: 3rem;

    @include media-breakpoint-up(xl) {
        padding-bottom: 5rem;
    }
}
