%default-box-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

%default-inset-box-shadow {
  box-shadow: inset 0 8px 6px -6px rgba(0, 0, 0, 0.3);
}

%reset-clear {
  /* clears the 'X' from Internet Explorer */
  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the 'X' from Chrome */
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
