.stacklapopup-container {
    .stacklapopup-arrow-icon {
        background-image: url('~@/assets/svg/icons/internal-link.svg');
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0) invert(1);

        &:before {
            content: "" !important;
        }
    }

    .stacklapopup-arrow-left {
        transform: rotate(180deg);
    }

    .stacklapopup-interaction-link {
        background-image: url('~@/assets/svg/icons/share.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        .fs-share:before {
            content: "" !important;
        }
    }
}