.stacklapopup-container {
    .stacklapopup-arrow-icon {
        filter: brightness(0) invert(1);
    }

    .stacklapopup-arrow-icon:before {
        left: 0 !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }

    .stacklapopup-arrow-left .stacklapopup-arrow-icon:before {
        transform:translateX(-6px) translateY(-5px);
    }

    .stacklapopup-arrow-right .stacklapopup-arrow-icon:before {
        transform: translateX(-2px) translateY(-5px);
    }
}
