/* Enter and leave animations can use different */
/* durations and timing functions.              */

.slide-fade-enter-active {
  transition: all 250ms ease-in-out;
}
.slide-fade-leave-active {
  transition: all 250ms ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-50px);
  opacity: 0;
}
