$default-focus-color: $color-theme-primary !default;
$default-underline-size: -3px;
$default-size: 3px;

@mixin focus-underline($color: $default-focus-color, $size: $default-underline-size) {
  box-shadow: inset 0 $size 0 0 $color;
  outline: none;
}

@mixin focus-box($color: $default-focus-color, $size: $default-size) {
  box-shadow: 0 0 0 $size $color;
  outline: none;
}

@mixin focus-box-inset($color: $default-focus-color, $size: $default-size) {
  box-shadow: inset 0 0 0 $size $color;
  outline: none;
}
