$screenReaderBreakpointResets: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);

@each $breakpoint, $size in $screenReaderBreakpointResets {
  .sr-only-#{$breakpoint}-down {
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    margin: -1px;
    padding: 0;
    width: 1px;
    @media (min-width: #{$size}) {
      border: 0;
      clip: initial;
      overflow: auto;
      padding: 0;
      margin: 0;
      position: relative;
      width: auto;
      height: auto;
    }
  }
}
