$vs-padding: (
    lg:  $grid-gutter-width * 2,
    md:  $grid-gutter-width * 1.5,
    sm:  $grid-gutter-width * 1,
    xs:  $grid-gutter-width * 0.5,
);

// SASS function
@function vs-padding($key) {
    @if map-has-key($vs-padding, $key) {
        @return map-get($vs-padding, $key);
    }

    @error '"#{$key}" was not found.';
}
