@font-face {
  font-family: "evelethclean-thin";
  src: url(~@/assets/fonts/eveleth-clean-thin.woff2) format("woff2"),
    url(~@/assets/fonts/eveleth-clean-thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "evelethclean-regular";
  src: url(~@/assets/fonts/eveleth-clean-regular.woff2) format("woff2"),
    url(~@/assets/fonts/eveleth-clean-regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-sizes: (
  xxxl: $font-size-xxxl,
  xxl: $font-size-xxl,
  xl: $font-size-xl,
  lg: $font-size-lg,
  md: $font-size-md,
  sm: $font-size-sm,
  xs: $font-size-xs,
  xxs: $font-size-xxs,
);
