@font-face {
  font-family: "evelethclean-thin";
  src: 
    url(./eveleth-clean-thin.woff2) format("woff2"),
    url(./eveleth-clean-thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "evelethclean-regular";
  src: 
    url(./eveleth-clean-regular.woff2) format("woff2"),
    url(./eveleth-clean-regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
