@font-face {
  font-family: "evelethclean-thin";
  src: 
    url(./eveleth-clean-thin.woff2) format("woff2"),
    url(./eveleth-clean-thin.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "evelethclean-regular";
  src: 
    url(./eveleth-clean-regular.woff2) format("woff2"),
    url(./eveleth-clean-regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: 
      url(./source-sans-pro-regular.woff2) format("woff2"),
      url(./source-sans-pro-regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro Bold";
    src: 
      url(./source-sans-pro-bold.woff2) format("woff2"),
      url(./source-sans-pro-bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro SemiBold";
    src: 
      url(./source-sans-pro-semibold.woff2) format("woff2"),
      url(./source-sans-pro-semibold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro Light";
    src: 
      url(./source-sans-pro-light.woff2) format("woff2"),
      url(./source-sans-pro-light.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
