/* 
 * Creates a button variant for all states using 
 * default, hover and focus colours provided. 
 */

@mixin vs-button-variant(
    $color, $background, $border, 
    $hover-color, $hover-background, $hover-border,
    $focus-color, $focus-background, $focus-border, ) 
{

    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover{
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;
    }

    &:not(:disabled):not(.disabled):active{
        color: $color;
        background-color: $background;
        border-color: $border;
    }

    &:focus{
        color: $focus-color;
        background-color: $focus-background;
        border-color: $focus-border;
    }
}