.background-tartan {
  background: transparent url(~@/assets/images/background/tartan-light.jpg) repeat 50% 50%;

  .button--tag {
    background: $color_white;

    &:focus,
    &:hover {
      background: $color_very_light_granite;
    }
  }
}

.background-gray {
  background-color: darken($color_very_light_granite, 2%);
}

/**
 * Automatically change background based on nth-child of <main> element.
 */

// Landing pages
main > div > div {
  &:nth-child(odd) > .background-auto {
    background-color: $color_very_light_granite;
  }

  &:nth-child(even) > .background-auto {
    background-color: $color_white;
  }
}

// Page content blocks (e.g. standard article)
.background-auto-wrapper {
  .background-auto:nth-child(odd) {
    background-color: $color_very_light_granite;
  }

  .background-auto:nth-child(even) {
    background-color: $color_white;
  }
}
