// Default button

%button,
a.button,
button.button {
    display: inline-block;
    position: relative;
    padding: 0.5em 1em;
    border: 2px solid vs-colors(pink);
    border-radius: 1000px;
    background: vs-colors(pink);
    color: white;
    font-weight: $font-weight-bold;
    cursor: pointer;
    user-select: none;

    %button:hover,
    &:focus,
    &:hover {
        background: darken(vs-colors(pink), 8%);
        border-color: darken(vs-colors(pink), 8%);
        color: white;
    }

    &:focus {
        outline: none;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
        filter: grayscale(100%);
    }

    %button--keyline,
    &--keyline {
        background: transparent;
        color: vs-colors(pink);
        border-color: vs-colors(pink);

        &:focus,
        &:hover {
            background: transparent;
            color: vs-colors(black);
            border-color: vs-colors(black);
        }
    }

    %button--keyline-white,
    &--keyline-white {
        background: transparent;
        color: white;
        border-color: white;

        &:focus,
        &:hover {
            background: white;
            color: vs-colors(gray-dark);
            border-color: white;
        }
    }

    %button--icon-right,
    &--icon-right {
        padding-right: 2.25em;

        .icon {
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            right: 0.75em;
            line-height: 1;
        }
    }

    %button--icon-left,
    &--icon-left {
        padding-left: 2.25em;

        .icon {
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            left: 0.75em;
            line-height: 1;
        }
    }

    &--dropdown {
        border-radius: $border-radius-lg;
        border-width: 1px;
        border-color: vs-colors(gray-light);
        color: vs-colors(gray-mid);
        background: rgba(vs-colors(white), 0.8);

        &:focus,
        &:hover {
            border-color: vs-colors(pink);
            color: vs-colors(pink);
            background: rgba(vs-colors(white), 1);
        }
    }

    &--tag {
        border: none;
        background: vs-colors(gray-xlight);
        color: vs-colors(black);
        border-radius: $border-radius;

        &:focus,
        &:hover {
            background: darken(vs-colors(gray-xlight), 5%);
            color: vs-colors(black);
        }
    }
}

// Site menu toggle button.

.button-menu {
    @extend %button;

    border-radius: 0;
    border: 1px solid vs-colors(purple);
    background: vs-colors(white);
    color: vs-colors(purple);
    cursor: pointer;

    &:hover,
    &:focus {
        border: 1px solid vs-colors(purple);
        background: vs-colors(white);
        color: vs-colors(purple);
        box-shadow: none;
    }

    &--active,
    &--active:hover,
    &--active:focus {
        border: 1px solid vs-colors(purple);
        background: vs-colors(purple);
        color: vs-colors(white);
        box-shadow: none;
        padding-bottom: vs-padding(md);
        right: 0;
    }
}
