.content-quote {
  border-left: 5px solid transparent;
  border-image: url(~@/assets/images/background/tartan-light.jpg) 30;
  color: $color_dark_granite;
  font-size: vs-font-size(sm);
  padding: vs-padding(xs) vs-padding(sm);

  p {
    font-style: italic;
  }

  footer {
    color: $color_thistle_purple;
    font-weight: $font-weight-bold;
    font-size: vs-font-size(xs);

    cite {
      font-style: normal;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: vs-font-size(lg);
  }
}
