.download {
    @extend %card-style-white;

    .button {
        min-width: 12.5em;
    }

    &__details {
        position: relative;
        padding-left: 44px;

        &__icon {
            position: absolute;
            top: 4px;
            left: 0;
            width: 32px;
        }
    }
}
