.event {
  position: relative;
  overflow-x: hidden;

  &::before {
    background: linear-gradient(to right, $color_skye_blue, $color_thistle_purple);
    content: "";
    height: 500px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__header-logo {
    @extend .search__header__logo;
  }

  &__container {
    @extend .container;
    @extend .py-lg;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 1.5rem 0;
    border-radius: $border-radius $border-radius 0 0;
    background: $color_white;

    @include media-breakpoint-up(lg) {
      padding-top: 2rem;
    }

    @include media-breakpoint-up(xl) {
      padding-top: 3rem;
    }

    &__heading {
      display: flex;
      flex-wrap: nowrap;
      background: $color_very_light_granite;
      line-height: 1;

      h2 {
        margin: 0;
        padding: $grid-gutter-width * 0.5;
        align-self: center;
        font-size: vs-font-size(md);
        line-height: 1.1;

        @include media-breakpoint-up(md) {
          padding: $grid-gutter-width * 1;
          padding-left: 0;
          font-size: vs-font-size(xl);
        }

        @include media-breakpoint-up(xl) {
          font-size: vs-font-size(xxxl);
        }
      }

      &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 5rem;
        min-height: 5rem;
        padding: 0 $grid-gutter-width * 0.5;
        background: $color_thistle_purple;
        color: $color_white;
        text-align: center;

        &__day {
          display: block;
          font-weight: $font-weight-bold;
          font-size: vs-font-size(md);
        }

        &__month {
          display: block;
          font-size: vs-font-size(xs);
        }

        @include media-breakpoint-up(sm) {
          position: relative;
          left: $grid-gutter-width * -0.5;
          border-radius: $border-radius 0 0 $border-radius;
        }

        @include media-breakpoint-up(md) {
          width: 6rem;
          min-height: 6rem;
          padding: 0 $grid-gutter-width * 1;
          left: $grid-gutter-width * -1;

          &__day {
            font-size: vs-font-size(xl);
          }

          &__month {
            font-size: vs-font-size(md);
          }
        }

        @include media-breakpoint-up(xl) {
          width: 8rem;
          min-height: 8rem;

          &__day {
            font-size: vs-font-size(xxxl);
          }

          &__month {
            font-size: vs-font-size(xl);
          }
        }
      }
    }

    &__details,
    &__description,
    &__contact {
      padding-bottom: vs-padding(sm);

      @include media-breakpoint-up(lg) {
        padding: vs-padding(sm) 0;
        border-bottom: 1px solid $color_light_granite;
      }
    }

    &__description {
      @extend %external-links;
    }

    &__details {
      line-height: 1.1;
      padding: 3rem 0;

      dl {
        padding-bottom: 1rem;
      }

      dt,
      dd {
        font-weight: bold;

        @include media-breakpoint-up(sm) {
          font-size: vs-font-size(md);
          padding: 0 0.5em;
        }
      }

      dt {
        color: $color_dark_granite;
      }
    }

    .button {
      width: 100%;
      max-width: 15em;
    }

    &__contact {
      h3 {
        font-size: vs-font-size(md);
        margin-bottom: vs-margin(sm);
      }

      a {
        color: $color_total_eclipse;
      }

      .icon {
        color: $color_heather_pink;
        padding-right: 0.3em;
        vertical-align: middle;
      }
    }

    &__footer {
      h4 {
        padding-top: vs-padding(sm);
        font-size: vs-font-size(xs);
        color: $color_thistle_purple;
      }

      .tag {
        display: inline-block;
        padding: 0.5em;
        margin: 0 0.5em 0.5em 0;
        background: $color_very_light_granite;
        color: $color_dark_granite;
        border-radius: $border-radius;
        font-size: vs-font-size(xxs);
      }
    }
  }
}
