.search {
  &__header {
    overflow: hidden;
    position: relative;
    min-height: 200px;
    height: 22vh;
    color: $color_white;

    &::before {
      background: linear-gradient(to right, $color_skye_blue, $color_thistle_purple);
      content: "";
      min-height: 200px;
      height: 22vh;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
    &__form {
      position: absolute;
      bottom: 55px;
      width: 100%;
    }
    &__label {
      @extend %eveleth-regular;
      line-height: 1;
      color: $color_white;
      font-size: vs-font-size(lg);
      margin-bottom: 2rem;
    }
    &__input-box {
      position: relative;
      &__input {
        display: block;
        width: 100%;
        padding: vs-padding(sm) * 0.5 25px vs-padding(sm) * 0.5 vs-padding(sm) * 0.5;
        border-radius: 50px;
        border: none;
        font-size: vs-font-size(md);
        color: $color_total_eclipse;
        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(white, 0.3);
        }
        &--border {
          border: 2px solid $color_light_granite;
        }
      }
      &__button {
        position: absolute;
        top: 7px;
        right: vs-padding(sm) * 0.5;
        z-index: 2;
        background: white;
        border: none;
        font-size: vs-font-size(lg);
        color: $color_heather_pink;
      }
    }
    .banner__header__text {
      bottom: 50px;
    }

    @include media-breakpoint-up(md) {
      min-height: 370px;
      &::before {
        min-height: 370px;
      }
      &__label {
        font-size: 80px;
      }

      &__input-box {
        &__input {
          padding: vs-padding(sm) 75px vs-padding(sm) vs-padding(sm);
        }
        &__button {
          top: 14px;
          right: vs-padding(sm);
          font-size: vs-font-size(xxl);
        }
      }
      &__logo {
        overflow: hidden;

        width: 550px;
        height: 550px;
        fill: $color_white;
        opacity: 0.2;
        position: absolute;
        top: 0;
        right: -150px;
      }
    }
    @include media-breakpoint-up(lg) {
      min-height: 410px;
      &::before {
        min-height: 410px;
      }
    }
    @media (min-width: 992px) and (max-height: 768px) {
      min-height: 230px;
      &::before {
        min-height: 230px;
      }
      &__form {
        bottom: 42px;
      }

      &__logo {
        display: none !important;
      }

      &__label {
        margin-bottom: 1.4rem;
        font-size: 50px;
      }
    }
  }
  &__results {
    &__link {
      color: $color_total_eclipse;
      display: block;
      border: 1px solid transparent;
      padding: vs-padding(sm) vs-padding(lg) vs-padding(sm) vs-padding(sm);
      transition: all 250ms;
      position: relative;
      &__icon {
        visibility: hidden;
        position: absolute;
        right: vs-padding(sm);
        top: 40%;
      }
      &:hover,
      &:focus,
      &:active {
        @extend %card-style-white;
        outline: none;
        .search__results__link__heading,
        .search__results__link__icon {
          color: $color_heather_pink;
        }
        @include media-breakpoint-up(md) {
          .search__results__link__icon {
            visibility: visible;
          }
        }
      }
    }
  }
}
