$mobile-nav-background: $color_thistle_purple;
$mobile-nav-link-color: #c1b7c5;
$mobile-nav-link-active-color: $color_white;
$mobile-second-nav-background: #5d1d5d;
$mobile-second-nav-border: #570e47;
$mobile-third-nav-background: #380b38;
$mobile-third-nav-border: #550e46;

.mobile-nav-bar {
  background: $mobile-nav-background;

  ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }

  &__search {
    position: relative;
    padding: $grid-gutter-width;
    font-size: vs-font-size(md);

    &__row {
      position: relative;

      &__input {
        display: block;
        width: 100%;
        padding: 0.5em 2.5em 0.5em 1em;
        border: none;
        border-radius: 5em;

        &:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
        }
      }

      &__button {
        // resets
        background: transparent;
        border: none;
        padding: 0;
        line-height: 1;
        width: 1em;
        height: 1em;

        // center-right
        position: absolute;
        top: 0;
        right: 1em;
        bottom: 0;
        left: auto;
        margin: auto;

        .icon {
          color: $color_thistle_purple;
        }
      }
    }
  }

  .main-nav {
    display: none;

    &__list {
      background: $mobile-nav-background;
      box-shadow: 0 4px 2px -2px rgba(black, 0.05);
    }

    &__link {
      display: block;
      padding: vs-padding(sm);
      color: $mobile-nav-link-color;
      font-size: vs-font-size(sm);
      font-weight: $font-weight-bold;
      position: relative;
      border-bottom: 3px solid $mobile-second-nav-border;

      &--active,
      &:focus,
      &:active,
      &:hover {
        color: $mobile-nav-link-active-color;
      }

      .icon {
        position: absolute;
        top: 46%;
        right: $grid-gutter-width;
        font-size: 0.5rem;
        float: right;
      }
    }

    &--show {
      display: block;
      animation: slide-down 0.3s ease-out;

      &.main-nav__link {
        color: $mobile-nav-link-active-color;
      }
    }
  }

  .second-nav {
    display: none;

    &__list {
      background: $mobile-second-nav-background;
      box-shadow: 0 4px 2px -2px rgba(black, 0.06);
    }

    &__link {
      display: block;
      padding: vs-padding(xs) vs-padding(sm);
      color: $mobile-nav-link-color;
      font-size: vs-font-size(xs);
      font-weight: $font-weight-bold;
      border-bottom: 3px solid $mobile-second-nav-border;
      position: relative;

      &--active,
      &:focus,
      &:active,
      &:hover {
        color: $mobile-nav-link-active-color;
      }

      .icon {
        position: absolute;
        top: 46%;
        right: $grid-gutter-width;
        font-size: 0.5rem;
        float: right;
      }
    }

    &--show {
      display: block;
      animation: slide-down 0.3s ease-out;
    }
  }

  .third-nav {
    display: none;

    &__list {
      background: $mobile-third-nav-background;
    }

    &__link {
      display: block;
      padding: vs-padding(xs) vs-padding(md);
      color: $mobile-nav-link-color;
      font-size: vs-font-size(xs);
      font-weight: $font-weight-bold;
      position: relative;
      border-bottom: 3px solid $mobile-third-nav-border;

      &--active,
      &:focus,
      &:active,
      &:hover {
        color: $mobile-nav-link-active-color;
      }
    }

    &--show {
      display: block;
      animation: slide-down 0.3s ease-out;
    }
  }

  @keyframes slide-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-0%);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
    }
  }
}
