.site-footer-base {
  @extend %invert-color;

  padding: 1.25rem 0;
  background: $color_thistle_purple;
  font-size: vs-font-size(xxs);
  text-align: center;

  small {
    font-size: 100%;
  }

  .site-logo__large {
    margin: 0 auto 0.75rem;
  }

  @include media-breakpoint-up(md) {
    text-align: left;

    .container {
      position: relative;
    }

    .site-logo {
      position: absolute;
      right: 0;
      top: -4px;

      &__large {
        margin: inherit;
      }
    }
  }
}
