.site-footer {
    @extend %invert-color;

    position: relative;
    padding: 2rem 0;
    background: vs-colors(gray-dark);

    .newsletter {
        margin-bottom: 1rem;

        a {
            width: 100%;
            text-align: center;
            max-width: 380px;
        }
    }

    @include media-breakpoint-up(lg) {
        .newsletter {
            display: inline;

            a {
                width: auto;
                padding: 0.42em 1em 0.5em 1em;
                vertical-align: bottom;
            }
        }
    }
}
