.site-menu-org {
  @extend %invert-color;

  background: $color_thistle_purple;

  h6,
  a {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    margin-right: 0.66em;
    line-height: 2.3;
    font-size: vs-font-size(xxs);
    font-weight: $font-weight-normal;
  }

  h6 {
    opacity: 0.4;
  }

  .external-links-list {
    display: inline;
    padding: 0;

    li {
      display: inline;

      a {
        opacity: 0.6;

        &.active {
          opacity: 1;
          background: $color_white;
          color: $color_thistle_purple;
          padding: 0 vs-padding(sm);
        }

        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    }
  }
}
