.skip-to-content {
  outline: 0;

  &__container {
    background: $color_thistle_purple;
    text-align: center;
    padding: vs-padding(xs) 0;
  }

  &__text {
    color: $color_white;
    outline: 1px dotted $color_white;
    padding: 5px;
  }
}
