::selection {
  background-color: $color_skye_blue;
  color: white;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

// To be used with CMS content from rich text editor fields.
.user-content {
  @extend %external-links;

  > :last-child {
    margin-bottom: 0;
  }

  a {
    color: $color_heather_pink;
    text-decoration: none;
    border-bottom: 1px solid rgba($color_total_eclipse, 0.2);

    &:focus,
    &:hover {
      color: $color_total_eclipse;
      border-bottom-color: $color_total_eclipse;
    }

    &:hover::after {
      @supports (-webkit-mask-image: url(#)) {
        background-color: $color_total_eclipse;
      }

      @supports (mask-image: url(/)) {
        background-color: $color_total_eclipse;
      }
    }
  }
}

// Create font-size classes from map (.font-size-sm, .font-size-lg etc)
@each $name, $value in $vs-font-size {
  .font-size-#{$name} {
    font-size: $value;
  }
}
