.vs-modal-iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zindex-modal;
  background: $color_light_granite;
  opacity: 0;
  animation: vs-modal-iframe-show 350ms forwards;

  &--hide {
    opacity: 1;
    animation: vs-modal-iframe-hide 350ms 250ms forwards;

    .vs-modal-iframe__container {
      opacity: 1;
      animation: vs-modal-iframe-hide-container 500ms forwards
        cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &__container {
    @extend %card-style-white;

    overflow: hidden;
    position: absolute;
    top: 44px;
    left: 44px;
    width: calc(100% - 88px);
    height: calc(100% - 88px);
    border-radius: $border-radius;
    opacity: 0;
    transform: translateZ(0);
    animation: vs-modal-iframe-show-container 350ms 200ms forwards
      cubic-bezier(0.175, 0.885, 0.32, 1.275);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  &__close {
    // reset <button>
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }
}

@keyframes vs-modal-iframe-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes vs-modal-iframe-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes vs-modal-iframe-show-container {
  from {
    opacity: 0;
    transform: scale3d(0.85, 0.85, 0.85) translateY(150px);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translateY(0);
  }
}

@keyframes vs-modal-iframe-hide-container {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
