@mixin forms-common {
    label,
    legend {
        font-weight: $font-weight-semi-bold;
        margin-bottom: 0;
    }

    legend {
        font-size: $font-size-body-md;
    }

    .error {
        font-size: $font-size-body;
        color: $color-theme-danger;
        display: block;
    }

    .hint-text {
        font-size: $font-size-body;
        color: $color-gray-shade-1;
        margin-bottom: 0;
    }
}

@mixin form-element-styles {
    border: $color-gray-shade-3 1px solid;
}

@mixin form-error-state {
    border: 2px solid $color-theme-danger;
}

@mixin form-focus-state {
    border: $color-pink 4px solid;
    outline: none;
    box-shadow: none;
}
