@mixin truncate-text($line-count) {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-line-clamp: $line-count;
}