/* 
 * Creates a button variant for all states using 
 * default, hover and focus colours provided. 
 */

@mixin vs-button-variant(
    $color, $background, $border, 
    $hover-color, $hover-background, $hover-border,
    $focus-color, $focus-background, $focus-border, ) 
{

    color: $color;
    background-color: $background;
    border-color: $border;

    .vs-icon {
        fill: $color;
    }

    &:hover{
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;

        .vs-icon {
            fill: $hover-color;
        }
    }

    &:not(:disabled):not(.disabled):active{
        color: $color;
        background-color: $background;
        border-color: $border;

        .vs-icon {
            fill: $color;
        }
    }

    &:focus{
        color: $focus-color;
        background-color: $focus-background;
        border-color: $focus-border;

        .vs-icon {
            fill: $focus-color;
        }
    }
}